name: Update Transaction Dates for Assets Users

on:
  schedule:
    - cron: "30 0 * * *" # Runs at 00:30 UTC every day.
  workflow_dispatch: # Allows you to manually run this workflow from the Actions tab

permissions:
  contents: write

jobs:
  update-date:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Run the script to update the date
        run: python update_dates.py

      - name: Commit and push if there are changes
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git diff --quiet || (git commit -am "Auto-update dates" && git push)
